<h1>Jobs</h1>

<br />

<%= link_to '+ ADD', new_job_path %>

<br />

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= job.isShown %>
      <%= link_to 'Edit', edit_job_path(job) %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>