<div id="contact-form">
	<p>
		<%= link_to 'ca.andrade.duarte@gmail.com', 'mailto:ca.andrade.duarte@gmail.com' %>
		<br />
		+61 0466 883 284 (AUS)
	<p>
	<br />
	<br />
	<br />
	<h2><%= t '.subtitle' %></h2>
	<p>
		<%= t '.thanks_message' %>
	</p>
</div>
<div id="letters">
</div>