/*
 *= require_self
 *= require_tree ./application
 *= require 'helvetica-condensed-light'
 *= require 'font-awesome'
 */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li { list-style: none; }

*:focus {
    outline: none;
}