@import 'mixins';

$header-height: 55px;
$content-width: 700px;
$green: #9CB832;
$orange: #CB6125;
$dark-orange: #7A251D;

$sans-serif-families: "Trebuchet MS", sans-serif;

* {
	font-family: $sans-serif-families;
	font-size: 14px;
}

body { background-color: #F5F5F5; }

header {
	@include shadow(#CCC, 0, 3px, 6px);

	border-bottom: 1px solid #686;
	margin-bottom: 15px;

	#header-wrap {
		width: $content-width;
		margin: 0 auto;
	}

	height: $header-height;
	background: #888;

	h1 {
		float: left;
		margin-top: 5px;
		a {
			color: #FFF;
			font-weight: 400;
			font-size: 2.5em;
			&:hover {
				color: #000;
			}
		}
	}
}

header nav {
	line-height: $header-height;
	float: right;
	li {
		@include button(#303030, #FFF);
	}
}

#content {
	text-align: left;
	width: $content-width;
	margin: 0 auto;

	h2 { font-size: 1.5em; }

	h3 { font-size: 1.2em; }

	a, a:visited, a:hover {
		color: #242;
		&:hover { text-decoration: underline; }
	}

	ul, form, p {
		margin: 10px 0;
	}

	img {
		border: 1px $dark-orange solid;
		-moz-border-radius: 3px;
		border-radius: 3px;
		@include shadow(#ccc, 0, 3px, 6px);
	}

	article {
		background-color: white;
		padding: 20px 25px;
		margin-top: 10px;
		@include shadow(#ccc, 0, 3px, 6px);
	}
}

.add_button { @include button($green, #FFF); }
.cancel_button { @include button($orange, #FFF); }

.hint { 
	color: #CCC;
	font-size: 12px;
	font-weight: lighter;
	display: block;
}
.green {color: $green;}
.red {color: $dark-orange;}