@mixin shadow($color, $x, $y, $radius){
	-moz-box-shadow: $color $x $y $radius;
	-webkit-box-shadow: $color $x $y $radius;
	box-shadow: $color $x $y $radius;
}

@mixin button($background, $color){
	display: inline;
	background-color: $background;
	opacity: 0.7;
	padding: 7px 10px;

	-moz-border-radius: 5px;
	border-radius: 5px;

	font-size: 12px;
	font-weight: 600;
	color: $color !important;

	a {
		font-size: 12px;
		font-weight: 600;
		color: $color !important;
		text-decoration: none !important;
	}
	&:hover {
		opacity: 1;
	}
}