$content-width: 660px;
$letters-width: 263px;
$content-height: 435px;

@mixin shadow($color, $x, $y, $radius){
	-moz-box-shadow: $color $x $y $radius;
	-webkit-box-shadow: $color $x $y $radius;
	box-shadow: $color $x $y $radius;
}

@mixin label_style($color) {
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	letter-spacing: 1px;
	vertical-align: middle;
	color: $color;
}

#contact-form {
	float: left;
	width: $content-width - $letters-width - 100px;
	height: $content-height - 40px;

	padding: 40px 60px 0 40px;

	h2 {
		font-size: 36px;
		font-weight: normal;
	}
	
	p {
		margin-top: 10px;
		text-align: justify;
		word-spacing: 1px;
		font-size: 14px;
		line-height: 20px;

		a {
			font-style: italic;
			text-decoration: underline;
			font-weight: lighter;
			color: #FFFFFF;
		}
	}

	form {
		margin-top: 40px;

		div{
			position: relative;
			width: 297px;
			text-align: left;
			margin-bottom: 10px;
			font-size: 14px;

			label {
				padding-left: 5px;
				position: absolute;
				width: 80px;
				@include label_style(#7C7C7C);	
			}

			input[type=text] , textarea {
				width: 213px;
				background-color: #FFFFFF;
				vertical-align: middle;
				padding-left: 80px;
				@include label_style(#000);
			}

			textarea {
				width: 215px;
				height: 92px;
			}

			input[type=submit] {
				float: right;
				height: 25px;
				padding: 0 8px;
				background-color: #FFF;
				border: none;
				@include label_style(#7C7C7C);
			}
		}
	}
}

#letters {
	float: left;
	width: $letters-width;
	height: $content-height;

	background: url('/assets/letters.png');
}