$content-width: 660px;
$letters-width: 263px;
$content-height: 435px;

@mixin shadow($color, $x, $y, $radius){
	-moz-box-shadow: $color $x $y $radius;
	-webkit-box-shadow: $color $x $y $radius;
	box-shadow: $color $x $y $radius;
}

#contact-form {
	float: left;
	width: $content-width - $letters-width - 100px;
	height: $content-height - 40px;

	padding: 40px 60px 0 40px;

	p {
		margin-top: 10px;
		text-align: justify;
		word-spacing: 1px;
		font-size: 14px;
		line-height: 20px;

		a {
			font-style: italic;
			text-decoration: underline;
			font-weight: lighter;
			color: #FFFFFF;
		}
	}

	h2 {
		font-size: 36px;
		font-weight: normal;
	}

	form {
		margin-top: 40px;

		div{
			position: relative;
			width: 297px;
			text-align: left;
			margin-bottom: 10px;
			font-size: 14px;

			label {
				padding-left: 5px;
				color: #7C7C7C;

				position: absolute;
				width: 80px;
				line-height: 25px;
				vertical-align: middle;
			}

			input[type=text] , textarea {
				width: 213px;
				background-color: #FFFFFF;
				line-height: 25px;
				vertical-align: middle;
				padding-left: 80px;
				letter-spacing: 1px;
			}

			textarea {
				width: 215px;
				height: 92px;
			}

			input[type=submit] {
				float: right;
				height: 25px;
				padding: 6px 8px;
				letter-spacing: 1px;
				color: #7C7C7C;
				background-color: #FFF;
				border: none;
			}
		}
	}
}

#letters {
	float: left;
	width: $letters-width;
	height: $content-height;

	background: url('/assets/letters.png');
}